<!-- product-details.component.html -->
<html>
<body style="background-color: rgba(255, 208, 170, 0.562);">
  
<div>
  <!--navbar1-->
<div style="height:10%;" >
  <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm"style="background-color: rgb(255, 188, 225);">
    <div style="background-color: rgb(0, 0, 0); border-radius:20%; color:rgb(255, 145, 0); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="container">
      <a class="navbar-brand"style="color: aliceblue;"><i class="fa-solid fa-shop me-2"></i> <strong>Laptop SHOP</strong></a>
      <img src="https://images.unsplash.com/photo-1491472253230-a044054ca35f?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wJTIwY29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D" height="30" width="70"  style="border-radius: 50%; width: 80px; height: 70px;">&nbsp;&nbsp;
      <div class=" collapse navbar-collapse" id="navbarNavDropdown" >
        
        <div class="ms-auto d-none d-lg-block"  >
          <div class="ms-auto d-none d-lg-block">
            <div class="input-group">
            
            </div>
          </div>
        </div>
        <ul class="navbar-nav ms-auto " >
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/header" style="color: aliceblue;"><b> Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/products" routerLink="/products"style="color: aliceblue;"><b> Products</b></a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/cart"style="color: aliceblue;"><i class="fa-solid fa-cart-shopping me-1"></i><b> Cart</b> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/offers"style="color: aliceblue;"><b> Offers</b></a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/contact"  style="white-space: nowrap;color: aliceblue;"><b>Contact us</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/about"  style="white-space: nowrap;color: aliceblue;"><b>About us</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</div>




<!--new
<div class="container mt-4" >
  <h3 style="  color: #ffffff;font-size: 50px;text-align: left;font-family:'Times New Roman', Times, serif;">Product Details</h3>
<br>
    <div class="card mb-4" >
      <br><br>
        <img [src]="laptop.image" class="card-img-top" alt="Product Image"   height="500" width="100" />
        <div class="card-body">
        <h5 class="card-title">{{ laptop.brand }} - {{ laptop.model }}</h5>
        <p class="card-text">Price: {{ laptop.price }}</p>
        <p class="card-text">Details: {{ laptop.description }}</p>

 <button type="button"  class="btn btn-success" href="#"  (click)="payNow()" (click)="placeOrder()">Buy now</button> &nbsp;&nbsp;
 <button  class="btn btn-warning" (click)="toggleForm()" >Cash on delivery </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <button type="button" class="btn btn-dark" (click)="addToCart()">Add to Cart</button>  <br>

 
    
      <//User form 
      <div *ngIf="showForm">
        <div class="container">
          <div class="row justify-content-center">
            <h5 class="dark">Fill payment details</h5>

            <form  class="bg-white rounded-5 shadow-5-strong p-5">
              <div class="row mb-4">
                <div class="col-6">
                  <label class="form-label">Username</label>
                  <input type="text" class="form-control" placeholder="Enter Username" required [(ngModel)]="order.username" name="username" />
                </div>
                <div class="col-6">
                  <label class="form-label">Email address</label>
                  <input type="email" class="form-control" placeholder="Enter your email" required [(ngModel)]="order.email" name="email" />
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-6">
                  <label class="form-label">Contact number</label>
                  <input type="text" class="form-control" placeholder="Enter your contact number" required [(ngModel)]="order.contact" name="contact" />
                </div>
                <div class="col-6">
                  <label class="form-label">Address</label>
                  <input type="textbox" class="form-control" placeholder="Enter your address" required [(ngModel)]="order.address" name="address" />
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
       
              
      </div>
    </div>
  </div>
-->







  <!--oldest-->
<div class="container mt-4">
  <h3 style="color: #ffffff; font-size: 50px; text-align: left; font-family: 'Times New Roman', Times, serif;">Product Details</h3>
  <br>
    

  <div class="card mb-4">

        <!-- slider  add images using admin toggle form
        <div class="container" class="card mb-4">
          <br>
          <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-align: center;">Images</h2>
          <div class="container" style="width: 50%; margin: 0 auto; border-radius: 25%;">
            <carousel style="height: 400px; width: 600px;" [showIndicators]="true" showNavigationArrows="true">
              <slide>
                <img [src]="images.image1" alt="First Image" style="height: 400px; width: 600px;" class="d-block w-100">
              </slide>
              <slide>
                <img [src]="images.image2" alt="Second Image" style="height: 400px; width: 600px;" class="d-block w-100">
              </slide>
              <slide>
                <img [src]="images.image3" alt="Third Image" style="height: 400px; width: 600px;" class="d-block w-100">
              </slide>
              Add more slide elements for additional images 
            </carousel>
            <br>
          </div>
        </div>
      -->

        <!--old details -->
    <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align: left;"> &nbsp;Main image</h2>
    <br><br>
    <div class="container-fluid" style="width:50%;height:60%;">
    <img [src]="laptop?.image" class="card-img-top" alt="Product Image" height="400" width="100" />
  </div>
    <div class="card-body">
      <h2 class="card-title">{{ laptop?.brand }} - {{ laptop?.model }}</h2>
      <h4 class="card-text">Price: {{ laptop?.price }}</h4>
      <h5 class="card-text">Details: {{ laptop?.description }}</h5>
<h6>(Fill the payment form compulsorily for smooth delivery process)</h6><br>
      
      <!-- Payment buttons -->
      <button type="button" class="btn btn-success" href="#" (click)="payNow()" (click)="placeOrder()">Buy now</button>&nbsp;&nbsp;    
      <button class="btn btn-warning"  (click)="cashOnDelivery()" >Cash on delivery</button> &nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!--seperate submission-->
      <button type="button" class="btn btn-info" (click)="userData()" required>Payment form </button>&nbsp;&nbsp;
      <button type="button" class="btn btn-dark" (click)="addToCart()">Add to Cart</button><br>
      <br>
      <!--no of item form-->
<!-- no of item form -->
      <form (ngSubmit)="items()" >
        <div class="col" style="width:15%;">
           <input type="number" class="form-control" placeholder="quantity" required [(ngModel)]="itemsValue" name="items" />
           <label class="form-label">Quantity</label>

        </div>
        </form>

      <!-- Add more details as needed -->
    </div>
  </div>
</div>

