<body>
<div class="sidebar">
        <h2 class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
            <i class="fas fa-user-secret"></i> Admin</h2>
        <ul>
            <!--<li><a href="#">Dashboard</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">AddProduct</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Logout/a></li>-->
                <li class="nav-item" routerLinkActive="active">
                    <a href="/admindashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li class="nav-item" routerLinkActive="active">
                    <a href="/productlist"><i class="fas fa-shopping-bag"></i> Products</a></li>
                <li class="nav-item" routerLinkActive="active">
                        <a href="/addproduct"><i class="fas fa-plus"></i> AddProduct</a></li>    
                <li class="nav-item" routerLinkActive="active">
                    <a href="/orders"><i class="fas fa-shopping-cart"></i> Orders</a></li>
                <li class="nav-item" routerLinkActive="active">
                    <a href="/users"><i class="fas fa-users"></i> Users</a></li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLinkActive href=""  (click)=" logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>    
                </ul>
    </div>

    
    <div class="content">

        <h2 > <img src="https://www.businessinsider.in/photo/83601179/best-laptop-for-school-and-college-students-in-india.jpg?imgsize=188340" height="70" width="100"  style="border-radius: 50%; width: 100px; height: 100px;">&nbsp;&nbsp;
Welcome to the Admin Dashboard</h2>
            


        <div class="container-fluid px-4">
            <div class="row g-3 my-2">
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">720</h3>
                            <p class="fs-5">Products</p>
                        </div>
                        <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
  
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">4920</h3>
                            <p class="fs-5">Sales</p>
                        </div>
                        <i
                            class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
  
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">3899</h3>
                            <p class="fs-5">Delivery</p>
                        </div>
                        <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
  
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">%25</h3>
                            <p class="fs-5">Increase</p>
                        </div>
                        <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
            </div>
       

    </div> 
<!--</body>-->

