

     
<!--navbar1-->
<div  >
    <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm"style="background-color: rgb(255, 188, 225);">
      <div style="background-color: rgb(0, 0, 0); border-radius:25%; color:rgb(255, 145, 0); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="container-fluid">
        <a class="navbar-brand"style="color: aliceblue;"><i class="fa-solid fa-shop me-2"></i> <strong>Laptop SHOP</strong></a>
        <img src="https://images.unsplash.com/photo-1491472253230-a044054ca35f?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wJTIwY29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D"  style="border-radius: 50%; width: 80px; height: 70px;">&nbsp;&nbsp;
        <div class=" collapse navbar-collapse" id="navbarNavDropdown" >
          
         
          <ul class="navbar-nav ms-auto " >
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="/header" style="color: aliceblue;"><b> Home</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="/products" routerLink="/products"style="color: aliceblue;"><b> Products</b></a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="/cart"style="color: aliceblue;"><b> Cart</b> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="/offers"style="color: aliceblue;"><b> Offers</b></a>
            </li>
            &nbsp;&nbsp;
  
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="/contact"  style="white-space: nowrap;color: aliceblue;"><b> Contact us</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="/about"  style="white-space: nowrap;color: aliceblue;"><i class="fa fa-info" aria-hidden="true"></i><b> About us</b></a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
  </div>
  
  



<!--About US Page-->
    <body>
 
            <section class="ab"> 
            <div class="heading">
                <h1> About Us </h1>
            </div>
            <div class="container">
                <div class="hero-content">
                    <h2> Welcome To Our Website </h2>
                    <p>
                       We are one of the largest laptop dealer in India. 
                       We have various types of laptops of popular brands like Lenovo, Dell, Acer, HP, Samsung, Asus, MacBook at cheapest price 
                       at best offers and discounts with 1-year warranty on all products.
                       We our services are unparalleled within the industry and allows us to maintain customers for years to come.
                    </p>
                </div>
                <div class="hero-image">
                    <img src="https://s.yimg.com/ny/api/res/1.2/oFKB_SalEfyh72wNkOM0ZQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTU3NjtjZj13ZWJw/https://s.yimg.com/os/creatr-uploaded-images/2023-06/542c5620-1748-11ee-bade-78ffb1a5bc61">
                </div>
            </div>
            <div class="container">
          <h4> For more, follow us on our social medial handles below..!</h4>
        </div>
        </section>
   