<!--<div class="col-md-6 offset-md-3" class="container-fluid">
    <h3>Upadate User data!!!</h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Id</label>
            <input type="text" class="form-control" id="id"[(ngModel)]="user.id" name="id">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" id="username"[(ngModel)]="user.username" name="username">
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="text" class="form-control" id="email"[(ngModel)]="user.email" name="email">
        </div>
        <div class="form-group">
            <label>age</label>
            <input type="text" class="form-control" id="age"[(ngModel)]="user.age" name="age">
        </div>
        <div class="form-group">
            <label>address</label>
            <input type="text" class="form-control" id="address" [(ngModel)]="user.address" name="address">
        </div>
     
        <button class ="btn btn-success" type ="submit" >Update</button>
    </form>
    
</div>
-->